@import "colors.css";
* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: alpha(@midbase, 0.8);
    border: 2px;
    border-style: solid;
    border-color: @mauve;
    color: @text;
}

tooltip {
    background: alpha(@midbase, 0.8);
    opacity: 1;
    border-radius: 0;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label{
    color: @text;
}

#tags button {
    padding: 5px;
    color: @text;
    margin-right: 5px;
}

#tags button.active {
    color: @mauve;
}

#tags button.focused {
    color: @mauve;
}

#tags button.urgent {
    background: @green;
    color: @base;
}

#tags button:hover {
    background: @mauve;
    color: @base;
}

#custom-launch_wofi,
#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#tags,
#backlight,
#custom-music,
#custom-music2 {
    background: alpha(@base, 0);
    opacity: 1;
    padding: 0px 10px;
    border: 0px;
}

#clock {
	padding: 0px 10px;
    border-radius: 0;
}

#tray, #custom-lock_screen, #backlight, #temperature,#custom-launch_wofi, #cpu {
    border-radius: 0px 0px 0px 0px;
}

#tray, #custom-power_btn, #tags, #pulseaudio, #battery, #disk, #custom-music2 {
    border-radius: 0px 0px 0px 0px;
}

#temperature.critical {
    color: #e92d4d;
}

#cpu {
	color: @yellow;
}

#memory {
    color: @red;
}

#disk {
    color: @blue;
}

#tags {
    padding-right: 0px;
    padding-left: 5px;
}

#custom-power_profile {
    color: @green;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 0;
}

#custom-launch_wofi {
    color: @blue;
}

#pulseaudio {
    color: @mauve;
    border-left: 0px;
    border-right: 0px;
}

#battery {
    color: @green;
    border-left: 0px;
}

#disk.home {
    color: @green;
}

#disk.ssd {
    color: @mauve;
}

#disk.hdd {
    color: @peach;
}

#tray {
	border-radius: 0;
}
#custom-light_dark, #custom-music {
	border-radius: 0;
}
